body {
    text-align: center;
    font-family: Helvetica;
}

.canvas {
    background-image: url("../images/the-flatiron-building.png");
}

.canvas h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.canvas h4 {
    font-size: 18px;
    color: white;
}

.canvas a,
#footer a {
    color: white;
}

#process-title {
    font-size: 32px;
    font-weight: bold;
}

.process h2 {
    font-size: 23px;
    font-weight: bold;
}

.process p {
    font-size: 14px;
}

#midway {
    background-image: url("../images/the-flatiron-building.png");
    color: white;
    font-size:23px
    font-weight: bold;
}

#footer {
    text-align: left;
    background-color: dimgrey;
    color: white;
}

#rights {
    font-size: 11px;
}
